@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:600,700|Open+Sans:300');
body,
h1,
h2,
h3,
h4,
h5,
h6,
a,
a:hover,
a:focus,
a:active,
li,
ol {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #888;
}