@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
body {
    font-family: 'Open Sans', sans-serif !important;
}

p,
ul li,
ol li {
    font-weight: 300;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}